
/* Sytline applied to the entire site */
body {
  background: black;
  color:white;
  max-width: 1500px;
  margin: auto;
}

/*Styling elements linked to the navigation on each page */

.main-nav{
  margin:0;
  display: flex;
  justify-content: center;
  font-size: 30px;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Full width */
}

.main-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

#logo {
  padding-top: 5px;
  width: 150px;
}

/* Styling elements linked to the categories / image panes on each page */
h2 {
  color: white;
  padding: 1rem 0 0 2rem;
  font-size: 1.5vw;
  margin: 0;
}

.pane-text{
  color: white;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
}

.image-container {  /*sets up a scroll-bar at the bottom of each row of images */
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  position: relative;
  text-align: center;
  margin: 0;
}

.thumbnail img, 
.thumbnail {
  display: inline-block;
  position: relative;
  width: 15vw;
  padding: 10px;
  list-style-type: none;
}

.link-render:hover{
  opacity: 0.5;
}

/* Styling for header and form */

.header-container{
  height: 400px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Add this pseudo-element to create the opacity overlay effect */
.header-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay-text{
  color: white;
  position: absolute;
  left: 40px;
  top: 10px;
  padding: 0.5rem;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  z-index: 2; /* Ensures text appears above the overlay */
}

/* .header-container{
  height: 400px;
  overflow: hidden;
  position: relative;
} */

.header-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.5;
}

/* .overlay-text{
  color: white;
  position: absolute;
  left: 40px;
  top: 10px;
  padding: 0.5rem;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
} */

#overlay-text-form{
  color: black;
  left: 250px;
  top: 300px;
}

#login-overlay{
  color: black;
  left: 250px;
  top: 200px;
}

input[type="text"],
input[type ="password"]{
  width: 500px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  padding-left: 1rem;
}

#overlay-button{
  height: 50px;
}

.header-sub-text{
  font-size: 2rem;
  margin: 0;
}

.header-main-text{
  margin: 0;
}

/*Styling elements for the watchlist page */

.watchlist-container{
  text-align: center;
  color: white;
  margin: 0;
}

.watchlist-image-container{
  height: 400px;
  align-content: center;
}

.watchlist-container h1,
.watchlist-container h2 {
  margin: 0;
}

.watchlist-header{
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.list-container{
  display: flex;
  margin:0;
  padding-top: 2rem;
  width: 75%;
  padding-left: 5rem;
  align-items: center;
}

.watchlist-text-container{
  display: inline-block;
}

.watchlist-text-container p,
.watchlist-text-container h2,
.watchlist-text-container h1{
  padding-left: 1rem;
  text-align: left;
}

/* Styling rules for the details displayed when a show image is selected */

.show-details-container{
  display: flex;
  width: 80%;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  overflow: auto;
}

.poster-container{
  display:flex;
  height: 500px;
  margin: auto;
}

#details-name{
  font-size: 48px;
  padding-left: 1rem;
  margin: 0;
}

.details-genre{
  list-style-type: none;
  display: inline-block;
  background-color: #333;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 2px solid none;
  border-radius: 10px;
  font-size:1rem;
  font-weight: bold;
}

/* .watchlist-button, */
button {
  background-color: #bf2e1a;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size:24px;
  border-radius: 10px;
  text-align: center;
}

#network{
  display: inline-block;
}
.watchlist-button:hover {
  background-color: white;
  color: #bf2e1a;
  cursor: pointer;
}

.watchlist-button:active {
  background-color:  #bf2e1a;
  transform: translateY(2px);
}

.watchlist-button-disabled{
  background-color: #333;
  color: white;
}
 
.cast-header{
  font-size: 36px;
  font-weight: bold;
  padding-left: 3rem;
}

.cast-container li{
  display: inline-block;
  padding-left: 2rem;
}
.cast-images{
  height: 200px;
}

h4{
  margin: 0 0 1rem 0;
}

/* Styling elements associated with the search page */

.search-list{
  color: white;
  margin: 0;
  padding-left:2rem;
  padding-top: 2rem;
  font-size:36px;
}

.hiddenText{
  color: black;
}

.error-text{
  text-align: center;
  padding-top: 3rem;
  font-size: 48px;
}

.star{
  color: yellow;
}

/* Styling for login-page */

.login-label{
  color: white;
  font-size: 2vw;
  padding-right: 1rem;
}

#email-label{
  padding-right: 4.5rem;
  font-size:2vw;
  color: white;
}

.login-button{
  font-size:28px;
}

.button-container{
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1200px) {

/*   .watchlist-text-container{
    background-color: white;
  } */

    .poster-container{
      height: 275px;
      width: 250px;
  }

}

